@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  margin: 0 auto;
}


/* .top_bar_content span {
  font-family: Goodly;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 15%;
  text-transform: uppercase;

} */